<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <img src="~/Images/logo.webp" style="width200px;height:100px;"/>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index"><b style="font-size:20px;padding:20px;padding-top:50px;">Home</b></a>
                        </li>
                        
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b style="font-size:20px;padding:20px;">Admin</b></a>
                            <div class="dropdown-menu">
                                 <a class="dropdown-item" 
                                   asp-area="Admins" asp-controller="FoodCategories" asp-action="Index">Food Categories</a>
                                 <a class="dropdown-item"
                                   asp-area="Admins" asp-controller="Foods" asp-action="Index">Food Items</a>
                                   <a class="dropdown-item"
                                   href="https://localhost:44348/Admins/FoodCategories/Create">Add Food Category</a>
                                   <a class="dropdown-item"
                                   href="https://localhost:44348/Admins/Foods/Create">Add New Food Item </a>
                                   <a class="dropdown-item"
                                   href="https://localhost:44348/Admins/Orders/index">Orders List</a>
                                <a class="dropdown-item"
                                   asp-area="Admins" asp-controller="OrderStatus" asp-action="Index">Order Status List</a>
                               
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><b style="font-size:20px;padding:20px;">User</b></a>
                            <div class="dropdown-menu">
                            
                                 <a class="dropdown-item"
                                   href="https://localhost:44348/Users/Foods/index">Food Items</a>
                                 <a class="dropdown-item" 
                                   href="https://localhost:44348/Users/Orders/Create">Order Now </a>
                                <a class="dropdown-item"
                                   asp-area="Users" asp-controller="Orders" asp-action="Index">Orders List</a>
                                   <a class="dropdown-item"
                                   asp-area="Users" asp-controller="OrderStatus" asp-action="StatusView">Orders Status</a>
                                

                            </div>
                        </li>
                        
                         <li class="nav-item">
                            <a class="nav-link text-dark" href="https://localhost:44348/Users/Orders/Create"><b style="font-size:20px;padding:20px;">Order Now</b> </a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Online_Restuarant - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
