@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <center>
        <h1 style="color:brown;font-size:50px;">@ViewData["Title"]</h1><br />
        <p><h3 style="color:cadetblue;">You have successfully logged out from the application.</h3></p>
    </center>
</header>